.ipsIconAircraft { background-image: url(icons/Aircraft.svg); background-size: 25px; } 
.ipsIconAlarm { background-image: url(icons/Alarm.svg); background-size: 25px; } 
.ipsIconAlert { background-image: url(icons/Alert.svg); background-size: 25px; } 
.ipsIconAmplifier { background-image: url(icons/Amplifier.svg); background-size: 25px; } 
.ipsIconArrowRight { background-image: url(icons/ArrowRight.svg); background-size: 25px; } 
.ipsIconBackspace { background-image: url(icons/Backspace.svg); background-size: 25px; } 
.ipsIconBarcode { background-image: url(icons/Barcode.svg); background-size: 25px; } 
.ipsIconBarrel { background-image: url(icons/Barrel.svg); background-size: 25px; } 
.ipsIconBattery-0 { background-image: url(icons/Battery-0.svg); background-size: 25px; } 
.ipsIconBattery-100 { background-image: url(icons/Battery-100.svg); background-size: 25px; } 
.ipsIconBattery-50 { background-image: url(icons/Battery-50.svg); background-size: 25px; } 
.ipsIconBattery { background-image: url(icons/Battery.svg); background-size: 25px; } 
.ipsIconBed { background-image: url(icons/Bed.svg); background-size: 25px; } 
.ipsIconBell { background-image: url(icons/Bell.svg); background-size: 25px; } 
.ipsIconBlind { background-image: url(icons/Blind.svg); background-size: 25px; } 
.ipsIconBulb { background-image: url(icons/Bulb.svg); background-size: 25px; } 
.ipsIconCalculator { background-image: url(icons/Calculator.svg); background-size: 25px; } 
.ipsIconCalendar { background-image: url(icons/Calendar.svg); background-size: 25px; } 
.ipsIconCalendarCheck { background-image: url(icons/CalendarCheck.svg); background-size: 25px; } 
.ipsIconCamera { background-image: url(icons/Camera.svg); background-size: 25px; } 
.ipsIconCar { background-image: url(icons/Car.svg); background-size: 25px; } 
.ipsIconCaravan { background-image: url(icons/Caravan.svg); background-size: 25px; } 
.ipsIconCaret { background-image: url(icons/Caret.svg); background-size: 25px; } 
.ipsIconCat { background-image: url(icons/Cat.svg); background-size: 25px; } 
.ipsIconCeilingLight { background-image: url(icons/CeilingLight.svg); background-size: 25px; } 
.ipsIconCinema { background-image: url(icons/Cinema.svg); background-size: 25px; } 
.ipsIconClimate { background-image: url(icons/Climate.svg); background-size: 25px; } 
.ipsIconClock { background-image: url(icons/Clock.svg); background-size: 25px; } 
.ipsIconClose { background-image: url(icons/Close.svg); background-size: 25px; } 
.ipsIconCloseAll { background-image: url(icons/CloseAll.svg); background-size: 25px; } 
.ipsIconCloud { background-image: url(icons/Cloud.svg); background-size: 25px; } 
.ipsIconClover { background-image: url(icons/Clover.svg); background-size: 25px; } 
.ipsIconCO2 { background-image: url(icons/CO2.svg); background-size: 25px; } 
.ipsIconCocktail { background-image: url(icons/Cocktail.svg); background-size: 25px; } 
.ipsIconCounter { background-image: url(icons/Counter.svg); background-size: 25px; } 
.ipsIconCross { background-image: url(icons/Cross.svg); background-size: 25px; } 
.ipsIconDatabase { background-image: url(icons/Database.svg); background-size: 25px; } 
.ipsIconDining { background-image: url(icons/Dining.svg); background-size: 25px; } 
.ipsIconDirections { background-image: url(icons/Directions.svg); background-size: 25px; } 
.ipsIconDistance { background-image: url(icons/Distance.svg); background-size: 25px; } 
.ipsIconDoctorBag { background-image: url(icons/DoctorBag.svg); background-size: 25px; } 
.ipsIconDog { background-image: url(icons/Dog.svg); background-size: 25px; } 
.ipsIconDolby { background-image: url(icons/Dolby.svg); background-size: 25px; } 
.ipsIconDollar { background-image: url(icons/Dollar.svg); background-size: 25px; } 
.ipsIconDoor-0 { background-image: url(icons/Door-0.svg); background-size: 25px; } 
.ipsIconDoor-100 { background-image: url(icons/Door-100.svg); background-size: 25px; } 
.ipsIconDoor { background-image: url(icons/Door.svg); background-size: 25px; } 
.ipsIconDrops { background-image: url(icons/Drops.svg); background-size: 25px; } 
.ipsIconDuck { background-image: url(icons/Duck.svg); background-size: 25px; } 
.ipsIconEdit { background-image: url(icons/Edit.svg); background-size: 25px; } 
.ipsIconElectricity { background-image: url(icons/Electricity.svg); background-size: 25px; } 
.ipsIconErlenmeyerFlask { background-image: url(icons/ErlenmeyerFlask.svg); background-size: 25px; } 
.ipsIconEuro { background-image: url(icons/Euro.svg); background-size: 25px; } 
.ipsIconExecute { background-image: url(icons/Execute.svg); background-size: 25px; } 
.ipsIconEyes-0 { background-image: url(icons/Eyes-0.svg); background-size: 25px; } 
.ipsIconEyes-100 { background-image: url(icons/Eyes-100.svg); background-size: 25px; } 
.ipsIconEyes { background-image: url(icons/Eyes.svg); background-size: 25px; } 
.ipsIconFactory { background-image: url(icons/Factory.svg); background-size: 25px; } 
.ipsIconFemale { background-image: url(icons/Female.svg); background-size: 25px; } 
.ipsIconFlag { background-image: url(icons/Flag.svg); background-size: 25px; } 
.ipsIconFlame { background-image: url(icons/Flame.svg); background-size: 25px; } 
.ipsIconFloor { background-image: url(icons/Floor.svg); background-size: 25px; } 
.ipsIconFlower { background-image: url(icons/Flower.svg); background-size: 25px; } 
.ipsIconFog { background-image: url(icons/Fog.svg); background-size: 25px; } 
.ipsIconForecast { background-image: url(icons/Forecast.svg); background-size: 25px; } 
.ipsIconFridge { background-image: url(icons/Fridge.svg); background-size: 25px; } 
.ipsIconGame { background-image: url(icons/Game.svg); background-size: 25px; } 
.ipsIconGamepad { background-image: url(icons/Gamepad.svg); background-size: 25px; } 
.ipsIconGarage-0 { background-image: url(icons/Garage-0.svg); background-size: 25px; } 
.ipsIconGarage-100 { background-image: url(icons/Garage-100.svg); background-size: 25px; } 
.ipsIconGarage-25 { background-image: url(icons/Garage-25.svg); background-size: 25px; } 
.ipsIconGarage { background-image: url(icons/Garage.svg); background-size: 25px; } 
.ipsIconGasStation { background-image: url(icons/GasStation.svg); background-size: 25px; } 
.ipsIconGauge { background-image: url(icons/Gauge.svg); background-size: 25px; } 
.ipsIconGear { background-image: url(icons/Gear.svg); background-size: 25px; } 
.ipsIconGraph { background-image: url(icons/Graph.svg); background-size: 25px; } 
.ipsIconHollowArrowDown { background-image: url(icons/HollowArrowDown.svg); background-size: 25px; } 
.ipsIconHollowArrowLeft { background-image: url(icons/HollowArrowLeft.svg); background-size: 25px; } 
.ipsIconHollowArrowRight { background-image: url(icons/HollowArrowRight.svg); background-size: 25px; } 
.ipsIconHollowArrowUp { background-image: url(icons/HollowArrowUp.svg); background-size: 25px; } 
.ipsIconHollowDoubleArrowDown { background-image: url(icons/HollowDoubleArrowDown.svg); background-size: 25px; } 
.ipsIconHollowDoubleArrowLeft { background-image: url(icons/HollowDoubleArrowLeft.svg); background-size: 25px; } 
.ipsIconHollowDoubleArrowRight { background-image: url(icons/HollowDoubleArrowRight.svg); background-size: 25px; } 
.ipsIconHollowDoubleArrowUp { background-image: url(icons/HollowDoubleArrowUp.svg); background-size: 25px; } 
.ipsIconHollowLargeArrowDown { background-image: url(icons/HollowLargeArrowDown.svg); background-size: 25px; } 
.ipsIconHollowLargeArrowLeft { background-image: url(icons/HollowLargeArrowLeft.svg); background-size: 25px; } 
.ipsIconHollowLargeArrowRight { background-image: url(icons/HollowLargeArrowRight.svg); background-size: 25px; } 
.ipsIconHollowLargeArrowUp { background-image: url(icons/HollowLargeArrowUp.svg); background-size: 25px; } 
.ipsIconHome { background-image: url(icons/Home.svg); background-size: 25px; } 
.ipsIconHourGlass-0 { background-image: url(icons/HourGlass-0.svg); background-size: 25px; } 
.ipsIconHourGlass-100 { background-image: url(icons/HourGlass-100.svg); background-size: 25px; } 
.ipsIconHourglass-30 { background-image: url(icons/Hourglass-30.svg); background-size: 25px; } 
.ipsIconHourGlass-60 { background-image: url(icons/HourGlass-60.svg); background-size: 25px; } 
.ipsIconHourglass { background-image: url(icons/Hourglass.svg); background-size: 25px; } 
.ipsIconHouseRemote { background-image: url(icons/HouseRemote.svg); background-size: 25px; } 
.ipsIconImage { background-image: url(icons/Image.svg); background-size: 25px; } 
.ipsIconInformation { background-image: url(icons/Information.svg); background-size: 25px; } 
.ipsIconIntensity-0 { background-image: url(icons/Intensity-0.svg); background-size: 25px; } 
.ipsIconIntensity-1 { background-image: url(icons/Intensity-1.svg); background-size: 25px; } 
.ipsIconIntensity-100 { background-image: url(icons/Intensity-100.svg); background-size: 25px; } 
.ipsIconIntensity-30 { background-image: url(icons/Intensity-30.svg); background-size: 25px; } 
.ipsIconIntensity-60 { background-image: url(icons/Intensity-60.svg); background-size: 25px; } 
.ipsIconIntensity { background-image: url(icons/Intensity.svg); background-size: 25px; } 
.ipsIconInternet { background-image: url(icons/Internet.svg); background-size: 25px; } 
.ipsIconIPS { background-image: url(icons/IPS.svg); background-size: 25px; } 
.ipsIconJalousie-0 { background-image: url(icons/Jalousie-0.svg); background-size: 25px; } 
.ipsIconJalousie-100 { background-image: url(icons/Jalousie-100.svg); background-size: 25px; } 
.ipsIconJalousie-50 { background-image: url(icons/Jalousie-50.svg); background-size: 25px; } 
.ipsIconJalousie { background-image: url(icons/Jalousie.svg); background-size: 25px; } 
.ipsIconKettle { background-image: url(icons/Kettle.svg); background-size: 25px; } 
.ipsIconKey { background-image: url(icons/Key.svg); background-size: 25px; } 
.ipsIconKeyboard { background-image: url(icons/Keyboard.svg); background-size: 25px; } 
.ipsIconKitchen { background-image: url(icons/Kitchen.svg); background-size: 25px; } 
.ipsIconLamp { background-image: url(icons/Lamp.svg); background-size: 25px; } 
.ipsIconLeaf { background-image: url(icons/Leaf.svg); background-size: 25px; } 
.ipsIconLight-1 { background-image: url(icons/Light-1.svg); background-size: 25px; } 
.ipsIconLight-100 { background-image: url(icons/Light-100.svg); background-size: 25px; } 
.ipsIconLight-25 { background-image: url(icons/Light-25.svg); background-size: 25px; } 
.ipsIconLight-50 { background-image: url(icons/Light-50.svg); background-size: 25px; } 
.ipsIconLight-75 { background-image: url(icons/Light-75.svg); background-size: 25px; } 
.ipsIconLight { background-image: url(icons/Light.svg); background-size: 25px; } 
.ipsIconLightning { background-image: url(icons/Lightning.svg); background-size: 25px; } 
.ipsIconLock-0 { background-image: url(icons/Lock-0.svg); background-size: 25px; } 
.ipsIconLock-100 { background-image: url(icons/Lock-100.svg); background-size: 25px; } 
.ipsIconLock { background-image: url(icons/Lock.svg); background-size: 25px; } 
.ipsIconLockClosed { background-image: url(icons/LockClosed.svg); background-size: 25px; } 
.ipsIconLockOpen { background-image: url(icons/LockOpen.svg); background-size: 25px; } 
.ipsIconLooks { background-image: url(icons/Looks.svg); background-size: 25px; } 
.ipsIconMacro { background-image: url(icons/Macro.svg); background-size: 25px; } 
.ipsIconMail { background-image: url(icons/Mail.svg); background-size: 25px; } 
.ipsIconMailbox { background-image: url(icons/Mailbox.svg); background-size: 25px; } 
.ipsIconMale { background-image: url(icons/Male.svg); background-size: 25px; } 
.ipsIconMarker { background-image: url(icons/Marker.svg); background-size: 25px; } 
.ipsIconMelody { background-image: url(icons/Melody.svg); background-size: 25px; } 
.ipsIconminus { background-image: url(icons/minus.svg); background-size: 25px; } 
.ipsIconMobile { background-image: url(icons/Mobile.svg); background-size: 25px; } 
.ipsIconMotion { background-image: url(icons/Motion.svg); background-size: 25px; } 
.ipsIconMove { background-image: url(icons/Move.svg); background-size: 25px; } 
.ipsIconMovie { background-image: url(icons/Movie.svg); background-size: 25px; } 
.ipsIconMusic { background-image: url(icons/Music.svg); background-size: 25px; } 
.ipsIconMute { background-image: url(icons/Mute.svg); background-size: 25px; } 
.ipsIconNetwork { background-image: url(icons/Network.svg); background-size: 25px; } 
.ipsIconNotebook { background-image: url(icons/Notebook.svg); background-size: 25px; } 
.ipsIconOk { background-image: url(icons/Ok.svg); background-size: 25px; } 
.ipsIconPaintbrush { background-image: url(icons/Paintbrush.svg); background-size: 25px; } 
.ipsIconPHP { background-image: url(icons/PHP.svg); background-size: 25px; } 
.ipsIconPlay { background-image: url(icons/Play.svg); background-size: 25px; } 
.ipsIconPlaystation { background-image: url(icons/Playstation.svg); background-size: 25px; } 
.ipsIconPlug { background-image: url(icons/Plug.svg); background-size: 25px; } 
.ipsIconPlus { background-image: url(icons/Plus.svg); background-size: 25px; } 
.ipsIconPopcorn { background-image: url(icons/Popcorn.svg); background-size: 25px; } 
.ipsIconPower { background-image: url(icons/Power.svg); background-size: 25px; } 
.ipsIconProjector { background-image: url(icons/Projector.svg); background-size: 25px; } 
.ipsIconProjectorScreen { background-image: url(icons/ProjectorScreen.svg); background-size: 25px; } 
.ipsIconRainfall { background-image: url(icons/Rainfall.svg); background-size: 25px; } 
.ipsIconRecording { background-image: url(icons/Recording.svg); background-size: 25px; } 
.ipsIconRecycling { background-image: url(icons/Recycling.svg); background-size: 25px; } 
.ipsIconRemote { background-image: url(icons/Remote.svg); background-size: 25px; } 
.ipsIconRepeat { background-image: url(icons/Repeat.svg); background-size: 25px; } 
.ipsIconReturn { background-image: url(icons/Return.svg); background-size: 25px; } 
.ipsIconRobot { background-image: url(icons/Robot.svg); background-size: 25px; } 
.ipsIconRocket { background-image: url(icons/Rocket.svg); background-size: 25px; } 
.ipsIconRoomba { background-image: url(icons/Roomba.svg); background-size: 25px; } 
.ipsIconScript { background-image: url(icons/Script.svg); background-size: 25px; } 
.ipsIconShift { background-image: url(icons/Shift.svg); background-size: 25px; } 
.ipsIconShuffle { background-image: url(icons/Shuffle.svg); background-size: 25px; } 
.ipsIconShutter { background-image: url(icons/Shutter.svg); background-size: 25px; } 
.ipsIconSleep { background-image: url(icons/Sleep.svg); background-size: 25px; } 
.ipsIconSnow { background-image: url(icons/Snow.svg); background-size: 25px; } 
.ipsIconSnowflake { background-image: url(icons/Snowflake.svg); background-size: 25px; } 
.ipsIconSocket { background-image: url(icons/Socket.svg); background-size: 25px; } 
.ipsIconSofa { background-image: url(icons/Sofa.svg); background-size: 25px; } 
.ipsIconSolar { background-image: url(icons/Solar.svg); background-size: 25px; } 
.ipsIconSpeaker-0 { background-image: url(icons/Speaker-0.svg); background-size: 25px; } 
.ipsIconSpeaker-1 { background-image: url(icons/Speaker-1.svg); background-size: 25px; } 
.ipsIconSpeaker-100 { background-image: url(icons/Speaker-100.svg); background-size: 25px; } 
.ipsIconSpeaker-25 { background-image: url(icons/Speaker-25.svg); background-size: 25px; } 
.ipsIconSpeaker-50 { background-image: url(icons/Speaker-50.svg); background-size: 25px; } 
.ipsIconSpeaker { background-image: url(icons/Speaker.svg); background-size: 25px; } 
.ipsIconSpeedo { background-image: url(icons/Speedo.svg); background-size: 25px; } 
.ipsIconStars { background-image: url(icons/Stars.svg); background-size: 25px; } 
.ipsIconStove { background-image: url(icons/Stove.svg); background-size: 25px; } 
.ipsIconSun { background-image: url(icons/Sun.svg); background-size: 25px; } 
.ipsIconSunrise { background-image: url(icons/Sunrise.svg); background-size: 25px; } 
.ipsIconSunset { background-image: url(icons/Sunset.svg); background-size: 25px; } 
.ipsIconTalk { background-image: url(icons/Talk.svg); background-size: 25px; } 
.ipsIconTap { background-image: url(icons/Tap.svg); background-size: 25px; } 
.ipsIconTelephone { background-image: url(icons/Telephone.svg); background-size: 25px; } 
.ipsIconTitle { background-image: url(icons/Title.svg); background-size: 25px; } 
.ipsIconToday { background-image: url(icons/Today.svg); background-size: 25px; } 
.ipsIconTrain { background-image: url(icons/Train.svg); background-size: 25px; } 
.ipsIconTree { background-image: url(icons/Tree.svg); background-size: 25px; } 
.ipsIconTurnLeft { background-image: url(icons/TurnLeft.svg); background-size: 25px; } 
.ipsIconTurnRight { background-image: url(icons/TurnRight.svg); background-size: 25px; } 
.ipsIconTV { background-image: url(icons/TV.svg); background-size: 25px; } 
.ipsIconUmbrella { background-image: url(icons/Umbrella.svg); background-size: 25px; } 
.ipsIconVentilation { background-image: url(icons/Ventilation.svg); background-size: 25px; } 
.ipsIconWarning { background-image: url(icons/Warning.svg); background-size: 25px; } 
.ipsIconWater { background-image: url(icons/Water.svg); background-size: 25px; } 
.ipsIconWave { background-image: url(icons/Wave.svg); background-size: 25px; } 
.ipsIconWC { background-image: url(icons/WC.svg); background-size: 25px; } 
.ipsIconweather-night { background-image: url(icons/weather-night.svg); background-size: 25px; } 
.ipsIconWindDirection { background-image: url(icons/WindDirection.svg); background-size: 25px; } 
.ipsIconWindow-0 { background-image: url(icons/Window-0.svg); background-size: 25px; } 
.ipsIconWindow-100 { background-image: url(icons/Window-100.svg); background-size: 25px; } 
.ipsIconWindow { background-image: url(icons/Window.svg); background-size: 25px; } 
.ipsIconWindSpeed { background-image: url(icons/WindSpeed.svg); background-size: 25px; } 
.ipsIconXBMC { background-image: url(icons/XBMC.svg); background-size: 25px; } 
